.weather-card {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4), -1.5px -1.5px 5px #fff;
  padding: 1rem;
  border-radius: 2rem;
}
body.dark .weather-card {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4),
    -1.5px -1.5px 5px hsl(240, 34%, 32%);
}
.weather-card .group-data p,
.weather-card p {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4), -1.5px -1.5px 5px #fff;
  border-radius: 4rem;
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.weather-card p .icon {
  font-size: 3rem;
}
body.dark .weather-card .group-data p,
body.dark .weather-card p {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4),
    -1.5px -1.5px 5px hsl(240, 34%, 32%);
}
