nav {
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4), -1.5px -1.5px 5px #fff;
}
nav .logo {
  width: clamp(50px, 7vw, 100px);
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Patua One', cursive;
}
